<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        <ion-title>Due Assignments</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="background1">
<ion-list>
    <button ion-item *ngFor="let a of dueAssignments" (click)="openAssignment(a)">
        <ion-thumbnail item-start>
            <img [src]="a.image">
        </ion-thumbnail>
        <h2>{{a.subject}}
            <ion-badge class="right" *ngIf="a.leftTime" color="color4">{{a.leftTime}} </ion-badge>
            <ion-badge class="right" *ngIf="a.assessed" color="color3">Assessed</ion-badge>
            <ion-badge class="right" *ngIf="a.agreed" color="color2">Agreed</ion-badge>
            <ion-badge class="right" *ngIf="a.disagree" color="color1">Disagreed</ion-badge>
        </h2>
        <p>{{a.description}} </p>
    </button>
</ion-list>
</ion-content>